
/*----------------------------------------------------------------------
* ヘッダー
*/
header{
    border-bottom: 1px solid black;
}
header > .userIcon{
    height: 50px;
    width:  50px;
    border-radius: 25px;
}

/*----------------------------------------------------------------------
* フッター
*/
#footer_wrap{
	position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}
footer{
	position: absolute;
	display:	flex;
    bottom: 0px;
    left:	0px;
}
.footer_btn{
	height:	40px;
	width:	calc((100vw / 4) - 2px);
	border: 1px solid black;
}
.footer_btn > img{
	width:	20px;
	margin:	0px auto;
}

/*----------------------------------------------------------------------
* 標準スタイル
*/

/*
* ボタン関係
*/

/* 標準ボタン */
.g_btn{
    height: 40px;
    min-width: 100px;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    border-color: cyan;
    margin: 10px 10px;
}
/* キャンセルボタン */
.g_cancelBtn{
    height: 40px;
    min-width: 100px;
    margin: 10px auto;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    border-color: red;
    color: gray;
}
/* 幅が広めのボタン */
.g_wideBtn{
    width: 80%;
}

/* ボタンラッパー：水平並び */
.g_btnListH{
    text-align: center;
}

/*
* アイコン関係
*/
.userIcon{
    height: 50px;
    width:  50px;
    border-radius: 25px;
}