.btn-flat-simple {
  float: left;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  transition: .4s;
  width: auto;
  height: 20px;
}
.category{
  position: fixed;
  width: 100%;
  float: left;
  display: inline-block;
  left: 0;
  right: 0;
}
.btn-flat-simple:hover {
  background: #00bcd4;
  color: white;
  display: inline-block;
}
footer{
    position: fixed;/*←絶対位置*/
    bottom: 0;
    width: 100%;
    left:0;
    right:0;/*下に固定*/
}
.body {
 		  width:100%;
      height: 100%;
      height: auto;
      margin: 0;
  	}
  }
