body{
    margin: 0;
}
.talking_title{
    position: relative;
    margin: 0;
    display: inline-block;
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    height: 10vh;
    border-bottom: solid gray 0.5px;
}
.talking_title h1{
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}
.back_icon_img{
    margin: 0 auto;
    margin-left: 2vw;
    font-size: 3em;
    border-radius: 50% 50% 50% 50%;
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.3em;
    display: flex;
    left: 2vw;
    text-align: left;
    float: left;
    vertical-align: center;
  }
  #back_icon :hover{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
.stack_of_messages{
  position:relative;
  border-top: solid gray 0.5px;
  top: 0;
  width: 100%;
  height: 100%;
}
.message_1{
    position: relative;
    height: 10vh;
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-bottom: solid gray 0.5px;
}
.talk_area{
  position: relative;
  margin: 2vh 0 0 0;
  width: 100%;
}
.monkey_box{
  position: relative;
  display: flex;
  float: left;
  margin: 0;
  width: 65%;
  left: 2vw;
}
.monkey_fuki{
  position: relative;
  display: flex;
  float: left;
  margin: 2vw;
  width: 100%;
}
.human_fuki{
  position: relative;
  display: flex;
  float: right;
  margin: 0;
  width: 100%;
}
.human_box{
  position: relative;
  display: flex;
  float: right;
  margin: 0;
  width: 65%;
  right: 2vw;
}
.monkey_icon_img{
    margin: 0 auto;
    font-size: 2em;
    border-radius: 50% 50% 50% 50%;
    height: 1.6em;
    width: 1.6em;
    float: left;
  }
.user_icon_img{
  margin: 0 auto;
  font-size: 2em;
  border-radius: 50% 50% 50% 50%;
  height: 1.6em;
  width: 1.6em;
  float: right;
}
.message_text{
    position: relative;
    display: inline-block;
    left: 10vw;
}
.message_1 h1{
    position: relative;
    vertical-align: middle;
    margin: 0;
}
.message_1 p{
    position: relative;
    vertical-align: middle;
    margin: 0;
}

footer{
  display: flex;
  position: absolute;
  bottom: 0px;
  float: left;
  background-color: #eaf6fd;
  left: 0;
  right: 0;
}
.icon{
  width: calc(25vw - 2px) ;
  height: 7vh;
  text-align: center;
  border: 1px solid black;
}
.icon_img{
  position: relative;
  width: auto;
  height: 10vw;
  top: 0.5vh;
}
